<%- include("partials/header.ejs") %>
    
<main class="main-content">
    <div class="add-post-section">
        <div class="add-post">
            <a href="/new"><i class="fa-regular fa-square-plus icon"></i></a>
            <a href="/new">Add New Post</a>
        </div>
    </div>
        <div class="posts-grid-container">
            <% if(posts&&posts.length>0){ %>
                <% posts.forEach(post=> { %>
                    <article class="posts"> 
                        <h2>
                            <%= post.title %>
                        </h2>
                        <p>
                            <%= post.content %>
                        </p>
                        <form action="/delete/<%= post.id %>" method="post" class="form_post">
                            <a href="/edit/<%= post.id %>"><i class="fa-regular fa-pen-to-square icon-btn"></i></a>
                            <button type="submit" class="delete-btn"><i class="fa-regular fa-trash-can icon-btn"></i></button>
                        </form>
                    </article>
                <%}); %>
            <% } %>
        </div>
</main>

<%- include("partials/footer.ejs") %>